<h1>Manage current paintings</h1>
<table class="table">
  <% @paintings.each do |painting| %>
  <tr>
    <%= form_for painting, method: 'patch', url: "/galleries/#{@gallery.id}/paintings/#{painting.id}" do |f| %>
    <th class="thumbnail">
      <%= image_tag(painting.image_url, class: "img-thumbnail") if painting.image? %>
    </th>
    <th>
      <%= f.text_field :title, :class => "form-control", value: "#{painting.title}" %>
    </th>
    <th>
      <%= f.text_area :description, :class => "form-control", value: "#{painting.description}" %>
    </th>
    <th>
      <!-- commenting this out for now b/c too lazy to make css sho image shows up okay -->
      <%# image_tag(painting.image_url, :class => "img-responsive") if painting.image? %>
      <th>
        <%= f.file_field :image, :class => "form-control" %>
      </th>
    <th>
      <%= f.submit "Submit", :class=>"btn btn-primary" %>
    </th>
    <% end %>
    <th>
      <%= link_to "Delete", "/galleries/#{@gallery.id}/paintings/#{painting.id}", :class=>"btn btn-primary", method: :delete, data: {confirm: 'Are you sure?'} %>
    </th>
  </tr>
  <% end %>
</table><br>
