<div class="container dashboard-container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Dashboard</h1>
        <%= link_to "Create new gallery", dashboard_create_url, class: "btn btn-primary btn-space text-center" %>
        <br>
        <br>
        <%= link_to "Edit existing gallery", dashboard_edit_url, class: "btn btn-primary btn-space text-center" %>
        <br />
        <br>
        <%= link_to "Information Editor", dashboard_information_url, class: "btn btn-primary btn-space text-center" %>
        <br />
        <br>
        <%= link_to "Manage Events", events_url, class: "btn btn-primary btn-space text-center" %>
        <br>
        <br>
        <%= link_to "Create Users", new_user_path, class: "btn btn-primary btn-space text-center" %>
        <br>
        <%= link_to "Manage Products", provinces_url, class: "btn btn-primary btn-space text-center" %>
        <br><br><br>

    </div>
  </div>
</div>
