<h1>New Paintings page</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="form-group well">
        <%= form_for @painting do |f| %>
          <%= f.label :title %>
          <%= f.text_field :title, :class => "form-control" %>

          <%= f.label :description %>
          <%= f.text_area :description, :class => "form-control" %><br>

          <%= f.submit "Submit", :class=>"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
