<div class="container about-container">
  <div class="row">
    <div class="col-sm-12 about-text">
      <% unless @entry == nil %>
        <%= simple_format(@entry.description) %>
      <% end %>
    </div>
    <div class="col-sm-12 art-gallery-image">
      <%= image_tag("gallery_alan.jpg", :class => "img-responsive about-image") %>
    </div>
  </div>
  <div class="row three-galleries">
    <div class="col-sm-12">
      <h1>FEATURED GALLERIES</h1>
    </div>
    <% unless @featured_galleries == nil %>
      <% @featured_galleries.each do |gallery| %>
      <%= link_to gallery_url(gallery.id) do  %>
        <div class="col-sm-4 gallery-index-item">
          <%= image_tag(gallery.paintings.first.image_url, :class => "img-responsive image-gallery") %>
          <div class="hover-content">
            <h1 class="hover-title"><%= gallery.title %></h1>
            <!-- <span class="hover-description"><%= gallery.description %></span> -->
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
