<div class="container-fluid home-container">
  <div class="row home-page">
    <div class="col-sm-12 home-column">
      <h1 class="opening-title">Alan Dhingra</h1>
      <%= link_to "See All Galleries", galleries_path, :class => "home-page-link" %>
    </div>
    <div class="arrow bounce">
    </div>
  </div>
  <div class="row quick-about">
    <div class="col-sm-6 about-text-col">
      <p>
        <% unless @entry == nil %>
          <%= simple_format(@entry.description) %>
        <% end %>
      </p>
    </div>
    <div class="col-sm-5 about-image-col">
      <%= image_tag "6.JPG", :class => "img-responsive" %>
    </div>
  </div>
  <div class="row three-galleries">
    <div class="col-sm-12">
      <h1>FEATURED GALLERIES</h1>
    </div>
    <% unless @featured_galleries == nil %>
      <% @featured_galleries.each do |gallery| %>
       <%= link_to gallery_url(gallery.id) do  %>
        <div class="col-sm-4 gallery-index-item">
          <% if !gallery.paintings.empty? %>
            <%= image_tag(gallery.paintings.first.image_url(:thumb), :class => "img-responsive image-gallery") %>
            <div class="hover-content">
              <h1 class="hover-title"><%= gallery.title %></h1>
              <!-- <span class="hover-description"><%= gallery.description %></span> -->
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
