<h1>Contact Me</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="form-group well">
        <%= form_for @contact do |f| %>
        <div class="name-subject-container">
          <%= f.label :name, hidden: true %>
          <%= f.text_field :name, required: true, placeholder: "Name", class:"form-control half-field" %>
          <%= f.label :subject, hidden: true %>
          <%= f.text_field :subject, placeholder: "Subject", class: "form-control half-field" %>
        </div>

        <div class="contact-email-container">
          <%= f.label :email, hidden: true %>
          <%= f.email_field :email, required: true, placeholder: "Email", :class => "form-control" %>
        </div>
        <div class="contact-text-area">
          <%= f.label :message, hidden: true %><br>
          <%= f.text_area :message, as: :text, :class => "form-control contact-text-area-field", placeholder: "Message" %>
        </div>


          <div class="hidden">
          <%= f.label :nickname %><br>
          <%= f.text_field :nickname, hint: 'leave this field blank' %>
          </div>

          <%= f.submit "Submit", :class=>"btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
