<section class="center slider">
  <% count = 0 %>
  <% @gallery.paintings.each do |painting| %>
  <div class="<%= count %>" value="<%= count %>">
    <%= image_tag(painting.image_url, class:"gallery-painting") if painting.image? %>
  </div>
  <% count +=1 %>
  <% end %>
</section>
<section class="slider-text">
  <div class="container">
    <div class="row">
      <% count = 0 %>
      <% @gallery.paintings.each do |painting| %>
      <div class="col-sm-12 gallery-text" id="<%= count %>">
        <h1><%= painting.title %></h1>
        <p>
          <%= painting.description %>
        </p>
      </div>
      <% count +=1 %>
      <% end %>
    </div>
  </div>
</section>
<section class="contact-me">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 contact-text">
        <h4>Interested?</h4>
        <%= link_to 'Contact Me', new_contact_path, :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</section>
