<section class="center slider">
  <% @gallery.paintings.each_with_index do |painting, index| %>
  <div class="<%= index %> painting-image" value="<%= index %>">
    <%= image_tag(painting.image_url, class:"gallery-painting", 'data-target': "##{painting.id}", 'data-toggle': "modal") if painting.image? %>
  </div>
  <% end %>
</section>
<% @gallery.paintings.each_with_index do |painting, index| %>
  <div id="<%= painting.id %>" class="modal fade" role="dialog">
    <div class="modal-dialog"> -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= painting.title %></h4>
        </div>
        <div class="modal-body">
          <div class="modal-body-image">
            <%= image_tag(painting.image_url, class:"img-responsive") if painting.image? %>

          </div>
          <div class="modal-body-description">
            <h4><%= painting.description %></h4>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
<% end %>

<!-- <section class="slider-text">
  <div class="container">
    <div class="row">
      <% @gallery.paintings.each_with_index do |painting, index| %>
      <div class="col-sm-12 gallery-text" id="<%= index %>">
        <h1><%= painting.title %></h1>
        <p>
          <%= painting.description %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</section> -->
<section class="contact-me">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 contact-text">
        <%= link_to 'Contact Me', new_contact_path, :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</section>
