<section class="center slider">
  <% @gallery.paintings.each_with_index do |painting, index| %>
  <div class="<%= index %>" value="<%= index %>">
    <%= image_tag(painting.image_url, class:"gallery-painting") if painting.image? %>
  </div>
  <% end %>
</section>
<section class="slider-text">
  <div class="container">
    <div class="row">
      <% @gallery.paintings.each_with_index do |painting, index| %>
      <div class="col-sm-12 gallery-text" id="<%= index %>">
        <h1><%= painting.title %></h1>
        <p>
          <%= painting.description %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</section>
<section class="contact-me">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 contact-text">
        <h4>Interested?</h4>
        <%= link_to 'Contact Me', new_contact_path, :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</section>
