<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>New Product</h1>
      <div class="form-group well">
        <%= form_for @product do |f| %>
          <%= f.label :title %>
          <%= f.text_field :title, :class => "form-control" %>
          <%= f.label :image %>
          <%= f.file_field :image %>
          <%= f.label :description %>
          <%= f.text_area :description, :class => "form-control" %>
          <%= f.label :date %>
          <%= f.date_field :date, :class => "form-control" %>
          <%= f.submit "Submit", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
